* text=auto
*.0* -text
*.ARC -text
*.ASC -text
*.BEL -text
*.DAT -text
*.GFA -text
*.GFX -text
*.ICN -text
*.IMG -text
*.INF -text
*.IS -text
*.MON -text
*.O -text
*.PI1 -text
*.PAL -text
*.SYS -text
*.TTP -text
